<p>
  <mat-toolbar class="navbars">
    <div class="container">
      <button routerLink="/dashboard" mat-button class="title">Hola</button>
      <p class="parrafos">Carlos</p>
    </div>
    <span class="example-spacer"></span>

      <button routerLink="/dashboard/usuarios" mat-raised-button class="perfils"> Perfil
        <mat-icon class="flecha">chevron_right</mat-icon>
      </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>info</mat-icon>
    </button>

  </mat-toolbar>
</p>
